* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #00183D;
    display: flex;
    flex-direction: column;
}
header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}
h1 {
    color: #00F0FF;
}
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1rem;
}
nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
}
nav > div.active {
    box-shadow: 0px 2px 2px rgba(0, 240, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 240, 255, 0.65);
    box-shadow: 0px 8px 8px rgba(0, 240, 255, 0.6);
    box-shadow: 0px 16px 16px rgba(0, 240, 255, 0.55);
    border-radius: 1rem;
}
nav > div > p {
    color: #FFFFFF;
    margin: 5px 0 0 0;
    text-align: center;
}
nav > div > svg path.active,
nav > div > p.active {
    stroke: #00F0FF;
    color: #00F0FF;
}

main {
    flex-grow: 1;
    padding: 1rem 2rem;
    display: flex;
}
.projectContainer {
    min-height: 100%;
    position: relative;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
    justify-items: center;
    padding-bottom: 7rem;
}
.addProject,
.addTask {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: #00F0FF;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addProject:hover,
.addTask:hover,
form button:hover {
    transform: scale(1.1);
}
.addProject > img,
.addTask > img {
    width: 50px;
    height: 50px;
}
.projectCard {
    background-color: #ffffff;
    width: 18rem;
    height: fit-content;
    min-height: 12rem;
    border-radius: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projectCard p {
    font-size: 0.9rem;
    opacity: 50%;
}
.projectCard p:first-child {
    font-weight: bold;
    opacity: 1.0;
    text-decoration: underline;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
}
.projectCard > div {
    display: flex;
    justify-content: space-between;
}
.priority img {
    width: 1.5rem;
    height: 1.5rem;
}
.actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.actions > img {
    width: 1rem;
    height: 1rem;
}

.tasksContainer {
    color: #FFFFFF;
    padding: 0rem 4rem 7rem 4rem;
    position: relative;
    flex-grow: 1;
}
@media (max-width: 768px) {
    .tasksContainer {
        padding: 0;
        padding-bottom: 7rem;
    }
}
.tasksContainer h2 {
    text-align: center;
    margin-top: 0;
}
.listHeader {
    font-weight: bold;
    font-size: 1.1rem;
}
.listHeader,
.task {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.task > div:first-child {
    justify-self: start;
    padding-left: 1rem;
}
.task h3 {
    margin-bottom: 0;
    font-weight: 300;
}
.task p {
    opacity: 50%;
    font-size: 0.9rem;
    margin: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 998;
    backdrop-filter: blur(5px);
}
.dialogue-box {
    display: none;
    background-color: #71FFE5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow:  20px 20px 60px #48a594;
    border-radius: 50px;
    max-width: 400px;
}
.dialogue-box h2 {
    text-align: center;
    margin-bottom: 0;
}
form {
    padding: 1rem;
    margin: 0 1rem;
}
input,
textarea {
    display: block;
    width: 100%;
    height: 1.5rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
textarea {
    resize: none;
    display: inline-block;
    height: 5rem;
}
label span {
    color: #ff0000;
}
#priority {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
input[type="radio"] {
    display: inline;
    margin: 0;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
}
form button {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
}
button[type="submit"] {
    background-color: #0000ff;
}
button[name="cancel"] {
    background: #ff0000;
}
  